table, th, td {
    border: 1px solid black;
}

.task {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
}

.buttons {
    width: 50px;
}

.numberHeader {
    margin-left: 65px;
}